<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-md navbar-light bg-light">
      <%= link_to "Todo", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'ユーザー', users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'タスク', tasks_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'カテゴリー', categories_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="container pt-5">
    <p id="notice">
      <% if notice.presence %>
        <div class="alert alert-info pb-2"><%= notice %></div>
      <% end %>
    </p>
    <%= yield %>
  </div>
  </body>
</html>
